<!-- Modal -->
<div class="modal fade" id="student-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{StudentCtrl.studentInfo[0].name}}</h4>
      </div>
      <div class="modal-body">
        <form name="studentEdit" ng-submit="studentEdit.$valid && StudentCtrl.update(StudentCtrl.studentEdit.index);" novalidate>


          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" ng-model="StudentCtrl.studentEdit.name" value="" required/>
          </div>

          <div class="form-group">
            <label for="school">School:</label>
            <select class="form-control" ng-model="StudentCtrl.studentEdit.school" required>
              <option value="Gryffindor">Gryffindor</option>
              <option value="Hufflepuff">Hufflepuff</option>
              <option value="Ravenclaw">Ravenclaw</option>
              <option value="Slytherin">Slytherin</option>
            </select>
          </div>

          <div class="form-group">
            <label for="grade">Grade:</label>
            <input type="number" class="form-control" style="width:70px" ng-model="StudentCtrl.studentEdit.grade" value="" required/>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" ng-model="StudentCtrl.studentEdit.description" required></textarea>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg" value="Submit" />
          </div>

        </form>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    -->
    </div>
  </div>
</div>